*{
    margin: 0;
    padding: 0;
    box-sizing: flex;
}
.header {
    width: 100%;
    height : 130px;
    background-color: #282828;
    position: absolute;

}
.main{
    
    margin: 0;
    width : auto;
    
}
.middle{
    width: 910px;
    height: 100%;
    position: absolute;
    left: 20%;
    left: 20%;
    top:25%;
    border-radius: 15px;
    

}
.left{
    margin: 0;
    top: 100px;
    position: absolute;
    background-color: #282828;
    width: 250px;
    height: 100%;
}
.right{
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 5px;
    position: absolute;
    background-color: #282828;
    width: 250px;
    height: 500px;
    right: 5px;
}
.top {
    margin: 20px;
    background-color: #363636;
    width: 100%;
    height: 60%;
    border-radius: 15px;
    background:url(sakhi.gif);
    background-position: center;
    background-size: cover;

}
.up {
    margin: 20px;
    background-color: #363636;
    width: 100%;
    
    position: absolute;
    height: 60%;
    border-radius: 15px;
    margin-top: 40px;
    justify-content: center;
    background-position: center;
    background-size: cover;

}
.down {
  margin: 20px;
  background-color: #363636;
  width: 100%;
  height: 60%;
  margin-top: 490px;
  background: url(aboutus.jpg);
  border-radius: 15px;
  background-position: center;
  background-size: cover;

}
.bottom {
  margin: 20px;
  background-color: #2C418D;
  width: 100%;
  height: 20%;
  margin-top: 25px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  background-size: cover;

}

/* .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(save-money-2021-main-khu-201222.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
} */
/* Button used to open the chat form */
.open-button {
    background-color: #b5b8b5;
   
    padding: 16px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    z-index: 9;
  }
  
  /* The chat popup - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the chat container */
  .chat-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width iframe */
  .chat-container iframe {
    width: 100%;
    height: 500px;
    border: none;
  }
  
  /* Add padding to the cancel button */
  .chat-container .cancel {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  /* Add hover effects to buttons */
  .open-button:hover {
    opacity: 1;
  }
  
  .cancel:hover {
    background-color: #cc2d26;
  }
  
  .icons a{
    text-decoration: none;
    color: #fff;
}

.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.2s ease;
}

.icons ion-icon:hover{
    color: #ff7200;

}
.foot p1{
    justify-content: center;
    margin-left: 45%;
    font-size: 40px;
}
.footer{
    background-color:rgb(112, 112, 63);
    margin-top: 500px;
    padding: 70px;
    text-transform: uppercase;
    text-decoration:  none;
    display: block;
    line-height: 40px;
    color: white;
}
.footer .social-links{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    margin:0 20px 20px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #474242;
    letter-spacing: 40px;

}
